.navbar-brand {
    background-color: white;
    padding-left: 50px;
}

h1 {
    padding-left: 30px;
    padding-top: 30px;
    
}

#carouselThree {
    height: fit-content;
}



.jumbotron {
    background-image: url("./images/caglar-araz-eqeBPrRs4lA-unsplash.jpg");
    background-size: cover;
    height: 60vh;
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
  }

  .jumbotron h1{

    font-size: 100px;
    
    }


  .jumbotronOrder {
    background-image: url("./images/alexandra-andersson-si4-pd-eeJs-unsplash.jpg");
    background-size: cover;
    height: 60vh;
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: baseline;
    background-position: 50% 40%;
    }

    .jumbotronOrder h1{

        font-size: 100px;
        
        }

  .jumbotronAbout {
    background-image: url("./images/jeremy-bishop-KXqHt7h6ESQ-unsplash.jpg");
    background-size: cover;
    background-position: 40% 20%;
    height: 60vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .jumbotronAbout h1{

    font-size: 100px;
    
    }

.cardOne {
    padding-top: 20px;
    margin-left: 35px;
    width: 34 rem;
    
   
}

.cardTwo {
    padding-top: 20px;
    max-height: 50px important!;
    padding-left: 30px;
   
}

.cardThree {
    padding-top: 20px;
    max-height: 50px important!;
    margin-left: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.card {
    line-height: 80%;
    background-color: rgb(223, 175, 224);
    color: black;
    font-size: 50px;
    font-weight: 700;
    height: 397px;
    padding-left: 20px;
    margin-left: 30px;
    margin-right: 30px;
}